@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.creatives-list {
  position: absolute;   /* Position the list on top of the SVG */
  top: 20px;            /* Adjust the top margin for spacing */
  left: 20px;           /* Adjust the left margin for spacing */
  background-color: rgba(255, 255, 255, 0.7);  /* Semi-transparent background for readability */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;  /* Ensure the list is on top of the SVG */
  max-height: 300px; /* Limit the height to avoid overflowing */
  overflow-y: auto;  /* Add a scrollbar if the list is too long */
  color: #333;  /* Set text color to dark gray for readability */
}