.seating-bank-1-container {

  width: 11%;
  height: 4.5%;

  position: absolute;
  top: 31%;
  left: 38%;
  transform: rotate(7deg);

  .seat-1 {
    position: absolute;
    top: 0%;
    left: 3%;
  }

  .seat-2 {
    position: absolute;
    top: 0%;
    left: 17.5%;
  }
  
  .seat-3 {
    position: absolute;
    top: 0%;
    left: 32%;
  }
  
  .seat-4 {
    position: absolute;
    top: 0%;
    left: 47%;
  }  

  .seat-5 {
    position: absolute;
    top: 0%;
    left: 62%;
  }

  .seat-6 {
    position: absolute;
    top: 0%;
    left: 77%;
  }
  
  .seat-7 {
    position: absolute;
    top: 0%;
    left: 91%;
  }

  .seat-8 {
    position: absolute;
    top: 80%;
    left: 3%;
  }

  .seat-9 {
    position: absolute;
    top: 80%;
    left: 17.5%;
  }
  
  .seat-10 {
    position: absolute;
    top: 80%;
    left: 32%;
  }
  
  .seat-11 {
    position: absolute;
    top: 80%;
    left: 47%;
  }  

  .seat-12 {
    position: absolute;
    top: 80%;
    left: 62%;
  }

  .seat-13 {
    position: absolute;
    top: 80%;
    left: 77%;
  }
  
  .seat-14 {
    position: absolute;
    top: 80%;
    left: 91%;
  }  
  
}