.seating-bank-7-container {

  width: 10%;
  height: 9%;

  position: absolute;
  top: 63.2%;
  left: 68.5%;

  transform: rotate(-2deg);

  .seat-1 {
    position: absolute;
    top: 17%;
    left: 89%;
  }

  .seat-2 {
    position: absolute;
    top: 40%;
    left: 89%;
  }
  
  .seat-3 {
    position: absolute;
    top: 63%;
    left: 90%;
  }  

  .seat-4 {
    position: absolute;
    top: 88%;
    left: 76%;
  } 
  
  .seat-5 {
    position: absolute;
    top: 88%;
    left: 60%;
  } 
  
  .seat-6 {
    position: absolute;
    top: 88%;
    left: 43%;
  } 
  
  .seat-7 {
    position: absolute;
    top: 88%;
    left: 27%;
  } 
  
  .seat-8 {
    position: absolute;
    top: 88%;
    left: 13%;
  }   

  .seat-9 {
    position: absolute;
    top: 63%;
    left: 1%;
  }     

  .seat-10 {
    position: absolute;
    top: 41%;
    left: 1%;
  }     
  
  .seat-11 {
    position: absolute;
    top: 20%;
    left: 0%;
  }  
  
  .seat-12 {
    position: absolute;
    top: 2%;
    left: 13%;
  }  
  
  .seat-13 {
    position: absolute;
    top: 2%;
    left: 27%;
  }    

}