.seating-bank-5-container {

  width: 10%;
  height: 16.5%;

  position: absolute;
  top: 43.2%;
  left: 78%;

  .seat-1 {
    position: absolute;
    top: 1%;
    left: 28%;
    transform: rotate(15deg);

    p {
      transform: rotate(-15deg);
    }        
  }

  .seat-2 {
    position: absolute;
    top: 6%;
    left: 42%;
    transform: rotate(29deg);

    p {
      transform: rotate(-29deg);
    }        
  }  

  .seat-3 {
    position: absolute;
    top: 13%;
    left: 56%;
    transform: rotate(39deg);

    p {
      transform: rotate(-39deg);
    }        
  }    

  .seat-4 {
    position: absolute;
    top: 20%;
    left: 67%;
    transform: rotate(45deg);

    p {
      transform: rotate(-45deg);
    }        
  }    
  
  .seat-5 {
    position: absolute;
    top: 31%;
    left: 77%;
    transform: rotate(55deg);

    p {
      transform: rotate(-55deg);
    }        
  }   
  
  .seat-6 {
    position: absolute;
    top: 43%;
    left: 84%;
    transform: rotate(70deg);

    p {
      transform: rotate(-70deg);
    }        
  }  
  
  .seat-7 {
    position: absolute;
    top: 57%;
    left: 90%;
    transform: rotate(77deg);

    p {
      transform: rotate(-77deg);
    }        
  } 
  
  .seat-8 {
    position: absolute;
    top: 70%;
    left: 93%;
    transform: rotate(82deg);

    p {
      transform: rotate(-82deg);
    }        
  }  
  
  .seat-9 {
    position: absolute;
    top: 81%;
    left: 94%;
    transform: rotate(91deg);

    p {
      transform: rotate(-91deg);
    }        
  }   
  
  .seat-10 {
    position: absolute;
    top: 93%;
    left: 79%;
    transform: rotate(14deg);

    p {
      transform: rotate(-14deg);
    }        
  }    
  
  .seat-11 {
    position: absolute;
    top: 89%;
    left: 61%;
    transform: rotate(14deg);

    p {
      transform: rotate(-14deg);
    }        
  }      

  .seat-12 {
    position: absolute;
    top: 85%;
    left: 47%;
    transform: rotate(14deg);

    p {
      transform: rotate(-14deg);
    }        
  }   
  
  .seat-13 {
    position: absolute;
    top: 71%;
    left: 33%;
    transform: rotate(-20deg);

    p {
      transform: rotate(20deg);
    }        
  } 
  
  .seat-14 {
    position: absolute;
    top: 58%;
    left: 23%;
    transform: rotate(-43deg);

    p {
      transform: rotate(43deg);
    }        
  }  
  
  .seat-15 {
    position: absolute;
    top: 48%;
    left: 11%;
    transform: rotate(-57deg);

    p {
      transform: rotate(57deg);
    }        
  }   
  
  .seat-16 {
    position: absolute;
    top: 33%;
    left: 1%;
    transform: rotate(19deg);

    p {
      transform: rotate(-19deg);
    }        
  } 
  
  .seat-17 {
    position: absolute;
    top: 21%;
    left: 4%;
    transform: rotate(18deg);

    p {
      transform: rotate(-18deg);
    }        
  } 
  
  .seat-18 {
    position: absolute;
    top: 10%;
    left: 7%;
    transform: rotate(19deg);

    p {
      transform: rotate(-19deg);
    }        
  }   
  
}