.seating-bank-18-container {

  width: 4%;
  height: 4.5%;

  position: absolute;
  top: 75%;
  left: 71.8%;

  .seat-1 {
    position: absolute;
    top: 0%;
    left: 18%;
  }

  .seat-2 {
    position: absolute;
    top: 0%;
    left: 62%;
  }
  
  .seat-3 {
    position: absolute;
    top: 77%;
    left: 18%;
  }
  
  .seat-4 {
    position: absolute;
    top: 77%;
    left: 62%;
  }  

}