.seating-bank-15-container {

  width: 3%;
  height: 5%;

  position: absolute;
  top: 45%;
  left: 88.2%;

  .seat-1 {
    position: absolute;
    top: 15%;
    left: 0%;
  }

  .seat-2 {
    position: absolute;
    top: 65%;
    left: 0%;
  }  

  .seat-3 {
    position: absolute;
    top: 15%;
    left: 77%;
  }
  
  .seat-4 {
    position: absolute;
    top: 65%;
    left: 77%;
  }  

}