.seating-bank-13-container {

  width: 16%;
  height: 11%;

  position: absolute;
  top: 42%;
  left: 38%;

  transform: rotate(4deg);

  .seat-1 {
    position: absolute;
    top: 4%;
    left: 88%;
  }

  .seat-2 {
    position: absolute;
    top: 4%;
    left: 79%;
  }
  
  .seat-3 {
    position: absolute;
    top: 5%;
    left: 68%;
  }
  
  .seat-4 {
    position: absolute;
    top: 6%;
    left: 58%;
  }
  
  .seat-5 {
    position: absolute;
    top: 7%;
    left: 47%;
  }

  .seat-6 {
    position: absolute;
    top: 7%;
    left: 38%;
  }  

  .seat-7 {
    position: absolute;
    top: 6%;
    left: 22%;  
  }

  .seat-8 {
    position: absolute;
    top: 5%;
    left: 12%;     
  }    

  .seat-9 {
    position: absolute;
    top: 22%;
    left: 1%;     
  } 
  
  .seat-10 {
    position: absolute;
    top: 40%;
    left: 1%;     
  } 
  
  .seat-11 {
    position: absolute;
    top: 61%;
    left: 1%;     
  } 
  
  .seat-12 {
    position: absolute;
    top: 80%;
    left: 10%;     
  }   

  .seat-13 {
    position: absolute;
    top: 81%;
    left: 19%;     
  }   
  
  .seat-14 {
    position: absolute;
    top: 82%;
    left: 33%;     
  }   
  
  .seat-15 {
    position: absolute;
    top: 82%;
    left: 44%;     
  }   
  
  .seat-16 {
    position: absolute;
    top: 83%;
    left: 54%;     
  }   
  
  .seat-17 {
    position: absolute;
    top: 82%;
    left: 65%;     
  }   
  
  .seat-18 {
    position: absolute;
    top: 81%;
    left: 78%;     
  }   
  
  .seat-19 {
    position: absolute;
    top: 80%;
    left: 88%;     
  }  
  
}